#page{
    width: 100%;
    
}

.carousel{
    height: 60vh;
}

.download{
    top: 20%;
    left: 30px;
    width: 25%;
    padding: 10px 5px;
    text-align: center;
}

#tour{
    right: 30px;
    top: 28%;
}

#modal{
    width: 40%;
    right: 2vw;
    padding: 20px;
}

#email{
    width: 92%;
}

#modal-btn{
    top: 25px;
}

/* Utility classes */
.h-primary{
    font-size: 3rem;
}

.h-secondary{
    font-size: 2.5rem;
}
